@import '_variables';
.navbar-loansolutions{
	background-color: #fff;
	border-bottom: 1px solid #ebeced;
	&.navbar{
		overflow: visible;
		height: 60px;
		min-height: 60px;
	}
	.navbar-form{
		margin: 0 0 0 0;
		.navbar-btn{margin: 11px 0;}
	}
}

.navbar-new{
	margin: -16px 0;
}

.navbar-btn .btn{
	font-family: $brandon-med;
	text-transform: uppercase;
}

.block-flat{
	margin-bottom: 40px;
	padding: 20px 20px;
	background: #FFF;
	border-radius: 4px;
	border: 2px solid #ddd;
	.header h3{
		text-transform: uppercase;
		padding: 10px 0;
		margin-top: 0;
		border-bottom: 1px solid #ddd;
	}
}


.headline{
	margin-bottom: 40px;
	h1, .h1 {
		text-transform: uppercase;
		margin-top: 0;
		font-family: $brandon-blk;
		font-size   : 45px;
		line-height : 1.2;
	}
	.tagline{
		line-height: 1.6;
		margin-top: 0;
		font-size: 22px;
	}
}

@media (min-width: 768px) {
	.navbar {margin-bottom: 0; }
}
.jumbotron{
	&.app{
		padding                 : 50px 30px 80px 30px;
		background              : #02baf2 url("../images/cityscape.png") no-repeat center bottom;
		background-blend-mode   : multiply;
		-webkit-background-size : contain;
		background-size         : contain;
		h1, .h1 {
			font-size   : 45px;
			line-height : 1.2;
			color       : #fff;
		}
		.tagline{color: #fff; }
	}
}

section {
	&.ask-panel{
		margin: 0;
		padding    : 50px 0;
		background : $mint-cream;
	}
}

.form-break{
	color: $lsgreen;
	margin: 50px 0 15px 0;
	letter-spacing: 2px;
}

.form-group{
	margin-bottom: 15px;
	&:last-of-type{margin-bottom: 0;}
}
.form-control{
	border: 2px solid #d6e1e5;
}
.form-group.focus .form-control, .form-control:focus{
	background: #fffdee;
}
.text-muted{
	color: $cutlass;
}
label{
	color: #5E6969;
	font-family: $brandon-bld;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1.5;
	span{
		letter-spacing: normal;
		font-family: $brandon-reg;
		text-transform: none;
	}
}

.checkbox, .radio{
	cursor: pointer;
	font-family: $brandon-med;
	font-size: 16px;

}
.boxed{
	background: #fff;
	border-radius: 4px;
	padding: 25px;
	border: 2px solid #ddd;
}

.choice-list li{
	float: left;
	width: 25%;
	height: 135px;
	padding: 10px;
	font-size: 10px;
	line-height: 1.4;
	text-align: center;
	background-color: #f9f9f9;
	border: 2px solid #fff;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	padding: 15px 20px;
	&:hover{
		cursor: pointer;
		background: #fffdee;
		border-color: #2ccd96;
	}
	p{
		margin: 10px 0 0 0;
		font-family: "brandon-grotesque-bold", Helvetica, Arial, sans-serif;
		text-transform: uppercase;
		font-size: 14px;
	}
}
.steps{
	background: #fff;
	border-radius: 4px;
	border: 2px solid #d6e1e5;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family : $brandon-med;
	i{margin-right: 8px;}
	.list-group-item{
		font-size: 16px;
		padding: 10px 20px;
		border: none;
		border-radius: 0;
		margin: 5px 0;
	}
	a.list-group-item.done, a.list-group-item.done:hover, a.list-group-item.done:focus{
		background-color: #fff;
		border-color: #fff;
		color: $lsgreen;
	}
	.list-group-item.disabled, .list-group-item.disabled:focus, .list-group-item.disabled:hover{
		background-color: #fff;
		border-color: #fff;
		color: #ccc;
	}
	a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus{
		color: $cyan;
		background-color: #fff;
		border-color: #fff;
	}
}

#scrollable-dropdown-menu, #university-list{
	input+input{margin-top: 0px;}
}
input+input{
	margin-top: 5px;
}

select.input-lg{
	line-height: normal;
}

.help-block{
	font-style: italic;
	color: $gunpowder;
	font-size: 90%;
}

.input-chunked {
	margin-bottom: 25px;
	.form-group:not(:last-of-type){margin-bottom: 10px !important;}
}
.choices{
	padding: 0;
}
a.list-group-item.done,
a.list-group-item.done:hover,
a.list-group-item.done:focus {
	color: white;
	background-color: $lsgreen;
	border-color: darken($lsgreen,10%);
}

#scrollable-dropdown-menu .tt-dropdown-menu,
#university-list .tt-dropdown-menu {
	max-height: 150px;
	overflow-y: auto;
}

.twitter-typeahead{width: 100%;}
.tt-query {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* auto-suggest color */
.tt-hint {color: #999; }
.tt-dropdown-menu {
	cursor: pointer;
	width: 100%;
	margin-top: 5px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.tt-suggestion {
	color: #f00;
	padding: 8px 20px;
	font-size: 18px;
	line-height: 24px;
	&.tt-cursor {
		background-color: $lsgreen;
		p {color: #fff; }
	}
	p {
		margin: 0;
	}
}

#custom-templates .empty-message {
	padding: 5px 10px;
	text-align: center;
}

#multiple-datasets .league-name {
	margin: 0 20px 5px 20px;
	padding: 3px 0;
	border-bottom: 1px solid #ccc;
}

.navbar-nav > li {
	&.active a, &:active a {
		background: $cyan;
		color: #fff;
		&:hover{
			color: #fff;
			background-color: darken($cyan, 5%);
		}
	}
	> a {
		letter-spacing: 2px;
		color: #b2c6cd;
		font-size: 18px;
		text-transform: uppercase;
		font-family: $brandon-bld;
		&:hover {
			color: #02baf2;
		}
	}
}

.navbar-nav.navbar-icons > li > a{
	padding: 20px;
}
.choices{
	.radio-inline{
		margin-bottom: 10px;
	}
	.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline{
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

.modal-dialog{
	z-index: 1050;
}
.modal-backdrop {
	position: fixed;
	bottom: 0;
	z-index: 1010;
}
.md-loader{
	h2{
		text-transform: uppercase;
		margin-top: 20px;
		font-family: $brandon-reg;
		font-size: 22px;
		line-height: 1.45;
		letter-spacing: 2px;
	}
	.modal-content{
		background: #fcfefc;
	}
}

.text-ls{
	color: $cyan;
}
.bonus-list {
  margin-bottom: 0;
  border-radius: 4px;
  border: 2px solid #ddd;
  .list-group-item {
    padding: 20px;
    p {
      margin: 0 0 0 0;
    }
  }
  .list-group-item-text {
    font-size: 16px;
    color: #5e696d;
  }
  .list-group-item:last-child {
    margin-bottom: 0;
  }
  a {
    &.list-group-item .list-group-item-heading {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 20px;
      font-family: "brandon-grotesque-bold",Helvetica,Arial,sans-serif;
      margin-bottom: 10px;
    }
    &.list-group-item-success {
      background-color: #d0f5e8;
      .list-group-item-heading {
        text-decoration: line-through;
        color: #2ccd96;
      }

    }
    &.list-group-item {
      &:hover, &:focus {
        background-color: #c2f0fe;
      }
    }
  }
}