//- .form-group.has-success
  //-   .input-chunked
  //-   label What is your name?
  //-   input.form-control.input-lg(type='text', autofocus="autofocus", required="required",value="Rein", placeholder="First Name")
  //- .form-group
  //-   input.form-control.input-lg(type='text', autofocus="autofocus", placeholder="Middle Name (optional)")
  //- .form-group.has-error
  //-   input.form-control.input-lg(type='text', autofocus="autofocus",value="123456", required="required", placeholder="Last Name")

