footer
  .container
    .row
      .col-md-3
        a(href='http://www.loansolutions.ph/v2')
          img.img-responsive(src='assets/images/loansolutions-logo-alt.png', alt='')
      .col-md-4
        address
          h5 HEAD OFFICE
          | 8th Flr, Crown 7 Building, Juan Luna Ave.,
          br
          | Mabolo Cebu City, 6000
          br
          | (+6332) 512-4163 / (+6332) 266-6070
      .col-md-5
        address
          h5 MANILA OFFICE
          | 24th Floor Pacific Star Bldg., Sen Gil Puyat cor Makati Ave.,
          br
          | Makati City, 1227
          br
          | (+632) 491-7337




