doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Get Money Fast | Personal, Car, Cash, Seaman, OFW Loans and more
    meta(content='SSS Salary loan, personal loan, car loan, financial management, loan, cash loan, OFW loan', name='keywords')
    meta(content='Get the best offer from up to 5 Lenders for Mortgage, Seaman, OFW, Car, Salary, Personal, Business, Cash loans. Lending in Manila, Cebu... all the Philippines.', name='description')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(content='index, follow', name='robots')
    meta(content='1 days', name='revisit-after')
    meta(content='2015 Copyright www.loansolutions.ph', name='copyright')
    meta(content='English', name='language')
    meta(content='General', name='Rating')
    meta(content='never', name='expires')
    meta(content='Author:loansolutions.ph', name='author')
    meta(content='Email: info@loansolutions.ph ', name='email')
    meta(content='global', name='distribution')
    meta(name='geo.region', content='PH')
    link(rel='shortcut icon', href='assets/images/favicon.png')
    link(rel='stylesheet', href='assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='assets/drunken/css/font-awesome.min.css')
    link(rel='stylesheet', href='assets/drunken/css/drunken-parrot.css')
    link(rel='stylesheet', href='assets/css/style.css')
    block stylehead
    script(type='text/javascript').
      var _vwo_code=(function(){var b=10460,a=2000,g=2500,h=false,c=false,e=document;return{use_existing_jquery:function(){return h},library_tolerance:function(){return g},finish:function(){if(!c){c=true;var d=e.getElementById("_vis_opt_path_hides");if(d){d.parentNode.removeChild(d)}}},finished:function(){return c},load:function(f){var d=e.createElement("script");d.src=f;d.type="text/javascript";d.innerText;d.onerror=function(){_vwo_code.finish()};e.getElementsByTagName("head")[0].appendChild(d)},init:function(){settings_timer=setTimeout("_vwo_code.finish()",a);this.load("//dev.visualwebsiteoptimizer.com/j.php?a="+b+"&u="+encodeURIComponent(e.URL)+"&r="+Math.random());var f=e.createElement("style"),d="body{opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;}",i=e.getElementsByTagName("head")[0];f.setAttribute("id","_vis_opt_path_hides");f.setAttribute("type","text/css");if(f.styleSheet){f.styleSheet.cssText=d}else{f.appendChild(e.createTextNode(d))}i.appendChild(f);return settings_timer}}}());_vwo_settings_timer=_vwo_code.init();
  body
    #fb-root
      script.
        (function(e,a,f){var c,b=e.getElementsByTagName(a)[0];if(e.getElementById(f)){return}c=e.createElement(a);c.id=f;c.src="//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";b.parentNode.insertBefore(c,b)}(document,"script","facebook-jssdk"));
    include _mixin
    nav.navbar.navbar-loansolutions.navbar-static-top
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#')
            img(src="assets/images/loansolutions-logo-v3.png", alt="", style="width: 250px;")

        #navbar.navbar-collapse.collapse
          .navbar-form.navbar-right
            button.btn.btn-info.navbar-btn(type='button') Sign Out

    block content
    include _footer
    script(type="application/javascript", src="assets/js/jquery.min.js")
    script(type="application/javascript", src="assets/bootstrap/js/bootstrap.min.js")
    block jsfooter
    script(type="application/javascript", src="assets/drunken/js/radio.js")
    script(type="application/javascript", src="assets/js/jquery.inputmask.min.js")
    script(type="application/javascript", src="assets/js/autoNumeric.js")
    script(type="application/javascript", src="assets/js/typeahead.jquery.min.js")
    script(type="application/javascript", src="assets/js/employer-list.js")
    script(type="application/javascript", src="assets/js/universities.js")
    script(type="application/javascript", src="assets/js/the-basics.js")
    script(type="application/javascript", src="assets/js/script.js")

    script(type='text/javascript').
      (function () {  var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript';  script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({ c: '204ec076-901f-4f73-befe-e3153a2c356b', f: true }); done = true; } };  })();

    script(type='text/javascript').
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-43021231-1']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

