extends _layoutApp
block stylehead
  link(rel="stylesheet", href="assets/css/app.css")
block content
  section.ask-panel
    .container
      .row
        .col-md-12
          .headline
            h1.text-center Congratulations!
            h2.text-center.tagline Increase your chances of getting a loan at better rates, by completing the following:

    .container
      .row
        .col-md-8.col-md-offset-2
          .bonus-list.list-group
            a.list-group-item.list-group-item-success(href='#')
              h4.list-group-item-heading
                i.fa.fa-check-circle &nbsp;
                | Get your Credit Trust Score from Lenddo
              p.list-group-item-text Lenddo lets you simply and securely prove your identity and establish your character online to unlock loans, online shopping and improve your chances of employment.
            a.list-group-item(href='#', data-toggle='modal', data-target='#modal-phone')
              h4.list-group-item-heading
                | Verify your Mobile Number
              p.list-group-item-text Verifying your mobile number  is the best way to make sure that you can be contacted by our lenders
            a.list-group-item(href='upload.html')
              h4.list-group-item-heading Upload Required Documents
              p.list-group-item-text Upload your required documents lorem ipsum dolor sit amet, consectetur adipisicing elit
            a.list-group-item(href='#')
              h4.list-group-item-heading Co-maker
              p.list-group-item-text Who can be a co-maker. why they need to have this. Fugit in ex, ut, quae veniam illum nostrum. Modi voluptatem rem nemo iure tempore voluptates unde!

            a.list-group-item(href='#')
              h4.list-group-item-heading Collateral
              p.list-group-item-text Providing collateral lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos reprehenderit ipsam tenetur? lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus at qui repudiandae exercitationem id.



        #modal-phone.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
                h4.modal-title VERIFY YOUR MOBILE NUMBER
              .modal-body
                form.infobox.clearfix
                  .form-group
                    label What's your active mobile number?
                    input#phone.form-control.input-lg(type="text", placeholder="(0915) 999-9999", value="(0915) 999-9999")
                  .form-group
                    label Verification Code
                    input#pin.form-control.input-lg(type="text")
                  .help-block How to get your code ipsum dolor sit amet, &nbsp;
                    a(href="http://", target="_blank") link consectetur &nbsp;
                    | adipisicing elit. Rem nemo quas obcaecati deleniti asperiores


                  .form-group(style="margin-top: 15px;")
                    button.btn.btn-primary.btn-lg.btn-block(type='button', data-toggle='modal', data-target='#myModal') Verify &nbsp;
                      i.fa.fa-angle-double-right





