extends _layoutApp
block stylehead
  link(rel="stylesheet", href="assets/css/app.css")
block content
  section.ask-panel
    .container
      .row
        .col-md-12
          .headline
            h1 Lorem ipsum dolor
            h2.tagline Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit dolor esse accusantium, sit hic, facere ratione accusamus, odio doloribus officiis non illo iure, dolores aut?
    .container
      .row
        .col-md-8
          .boxed
            form.infobox.clearfix
              .form-group
                label What is your name?
                .row
                  .col-md-6.col-xs-12
                    input.form-control.input-lg(type='text', autofocus="autofocus", required="required", placeholder="First")
                  .col-md-6.col-xs-12
                    input.form-control.input-lg(type='text', autofocus="autofocus", required="required", placeholder="Last")

              .form-group
                label When is your birthday?
                input#date.form-control.input-lg(type="text", placeholder="MM/DD/YYYY")
                span.help-block You must be 21 years old, but not more than 65 years old upon loan maturity

              .form-group
                label What's Your Address?
                input.form-control.input-lg(type='text', autofocus="autofocus", required="required", placeholder="City")

              .form-group
                label What's your active mobile number?
                input#phone.form-control.input-lg(type="text", placeholder="(0915) 999-9999")
                span.help-block Lorem ipsum dolor sit amet, consectetur adipisicing elit

              .form-group
                label What's your active email?
                input.form-control.input-lg(type="email", placeholder="juan.dc@yahoo.com")

              .form-group
                label What's your primary source of income?
                .choices
                  label.radio.radio-inline
                    input#optionsRadios1(type="radio", name="optionsRadios", value="option1", data-toggle="radio", checked)
                    | Salary
                  label.radio.radio-inline
                    input#optionsRadios2(type="radio", name="optionsRadios", value="option2", data-toggle="radio")
                    | I have my own Business
                  label.radio.radio-inline
                    input#optionsRadios3(type="radio", name="optionsRadios", value="option3", data-toggle="radio")
                    | Others

              .form-group
                label What's the name of the company?
                #scrollable-dropdown-menu
                  input.typeahead.form-control.input-lg(type="text", placeholder="Name of Company")

              .form-group
                label Gross Monthly Income
                input.form-control.autonumeric.input-lg(type='text', required="required", data-a-sign="Php ")

              .form-group
                label Employer Nature of Business
                input.form-control.input-lg(type="text", placeholder="Need Typehead here")

              .form-group
                label Joining date with this employer
                .row
                  .col-md-4
                    input#mmyy.form-control.input-lg(type="text", placeholder="MM/YYYY")
              br
              .form-group
                label do you have a checking Account?
                .choices
                  label.radio.radio-inline
                    input#optionsRadios1(type="radio", name="optionsRadios", value="option1", data-toggle="radio", checked)
                    | Yes
                  label.radio.radio-inline
                    input#optionsRadios2(type="radio", name="optionsRadios", value="option2", data-toggle="radio")
                    | No
                span.help-block Why we are asking this lorem ipsum dolor sit amet, consectetur adipisicing.

              .form-group
                label How long have you owned a checking account?
                .choices
                  label.radio.radio-inline
                    input#opt-timecheque(type="radio", name="opt-timecheque", value="option1", data-toggle="radio")
                    | Less than 6 months
                  label.radio.radio-inline
                    input#opt-timecheque(type="radio", name="opt-timecheque", value="option2", data-toggle="radio")
                    | 6 months or longer
              br
              .form-group
                label DO YOU HAVE A CREDIT CARD?
                .choices
                  label.radio.radio-inline
                    input#opt-credit(type="radio", name="opt-credit", value="option1", data-toggle="radio", checked)
                    | Yes
                  label.radio.radio-inline
                    input#opt-credit(type="radio", name="opt-credit", value="option2", data-toggle="radio")
                    | No
                span.help-block Why we are asking this lorem ipsum dolor sit amet, consectetur adipisicing.



              .form-group
                label WHAT'S YOUR CREDIT CARD?
                input.form-control.input-lg(type="text", placeholder="eg. Visa")

              .form-group
                label HOW LONG HAVE YOU OWNED A CREDIT CARD?
                .choices
                  label.radio.radio-inline
                    input#opt-timecredit(type="radio", name="opt-timecredit", value="option1", data-toggle="radio")
                    | Less than 12 months
                  label.radio.radio-inline
                    input#opt-timecredit(type="radio", name="opt-timecredit", value="option2", data-toggle="radio", checked)
                    | 12 months or longer



              .form-group.pull-right
                button.btn.btn-danger.btn-lg.btn-embossed(type='button', data-toggle='modal', data-target='#myModal') Continue Application &nbsp;
                  i.fa.fa-angle-double-right

        .col-md-4
          blockquote
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda ut, laboriosam itaque ab fugit dolorem distinctio quam pariatur suscipit nostrum commodi facere nihil sunt est cumque officia natus velit voluptates.
            footer Rein Figuracion,
              cite Cebu City


    #myModal.md-loader.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-body
            h2.text-center We're working hard to &nbsp;
              span.text-ls find the best lender matches for you. &nbsp;
              | One moment...
            img(src="assets/images/blender.gif", alt="" class="img-responsive")




