extends _layoutPlain
block stylehead
  link(rel="stylesheet", href="assets/css/app.css")
  link(rel="stylesheet", href="assets/css/register.css")
block content
  section.ask-panel
    .container
      .row
        .col-md-8.col-md-offset-2
          .boxed
            .headline
              h1.text-center Register
              h2.text-center.tagline Lorem ipsum adipisicing elit. Sit molestiae, quod voluptatum maxime!
            form.infobox.clearfix
              .form-group
                label What's your active email?
                input.form-control.input-lg(type="email")

              .form-group
                label Password
                input.form-control.input-lg(type="password")

              .form-group
                button.btn.btn-danger.btn-lg.btn-embossed.btn-block(type='button', data-toggle='modal', data-target='#myModal') Continue Application &nbsp;
                  i.fa.fa-angle-double-right

        .col-md-4.hidden
          .list-group.steps
            a.list-group-item.done(href='app-1.html')
              i.fa.fa-check
              | Loan
            a.list-group-item.active(href='app-2.html')
              i.fa.fa-dot-circle-o
              | Personal
            a.list-group-item.disabled(href='app-1.html')
              i.fa.fa-circle-o
              | Financial
            a.list-group-item.disabled(href='app-1.html')
              i.fa.fa-circle-o
              | Documents
            a.list-group-item.disabled(href='app-1.html')
              i.fa.fa-circle-o
              | Matching Lenders


    #myModal.md-loader.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-body
            h2.text-center We're working hard to &nbsp;
              span.text-ls find the best lender matches for you. &nbsp;
              | One moment...
            img(src="assets/images/blender.gif", alt="" class="img-responsive")




