extends _layoutApp
block stylehead
  link(rel="stylesheet", href="assets/css/app.css")
block content
  section.ask-panel
    .container
      .row
        .col-md-12
          .headline
            h1 Upload Document
            h2.tagline Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit dolor esse accusantium, sit hic, facere ratione accusamus, odio doloribus officiis non illo iure, dolores aut?
    .container
      .row
        .col-md-8
          .boxed
            img(src="assets/images/upload-holder.jpg", alt="", width="100%")


            .panel.panel-default(style="margin: 20px 0;")
              .panel-body
                h4(style="margin:20px 0; text-transform: uppercase;") Requirements for locally-employed borrowers
                ul
                  li One valid ID (photo-bearing government issued)

            a.btn.btn-danger.btn-lg.btn-embossed.btn-block(href="checklist.html") back to checklist


        .col-md-4
          img(src="assets/images/uploading-docs.jpg", alt="")



