
.container .jumbotron {
  border-radius: 0;
}
.container .typography-container {
  background: #364347;
}
.container .typography-container h1,
.container .typography-container h2,
.container .typography-container h3,
.container .typography-container h4,
.container .typography-container h5,
.container .typography-container h6 {
  color: white;
}
.container .typography-container .col-md-9 {
  padding-left: 62px;
}
.container .typography-container .demo-componant-title {
  color: #5e6969;
}
.container .typography-container .demo-type-heading {
  font-size: 40px;
  font-family: "SourceSansProExtraLight", Helvetica, Arial, sans-serif;
  color: white;
}
.container .typography-container .demo-type-extra-light {
  font-family: "SourceSansProExtraLight", Helvetica, Arial, sans-serif;
}
.container .typography-container .demo-type-extra-light {
  font-family: "SourceSansProExtraLight", Helvetica, Arial, sans-serif;
}
.container .typography-container .demo-type-semi-bold {
  font-family: "SourceSansProSemiBold", Helvetica, Arial, sans-serif;
}
.container .typography-container .demo-type-bold {
  font-family: "SourceSansProBold", Helvetica, Arial, sans-serif;
}
.container-dark {
  background: #364347;
}
.demo-section-title {
  color: #364347;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 10px;
}
.demo-section-title:first-child {
  margin-top: 0;
}
.demo-componant-title {
  color: #b2c6cd;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 30px;
}
.demo-button-sizes button {
  vertical-align: top;
  margin-right: 20px;
}
.demo-type-headings h1,
.demo-type-headings h2,
.demo-type-headings h3,
.demo-type-headings h4,
.demo-type-headings h5,
.demo-type-headings h6 {
  margin: 30px 0;
}
.btn-toolbar {
  margin: 20px 0;
}
.demo-type {
  color: white;
  font-size: 16px;
}
.demo-type span span {
  color: #fad46b;
}
.componant-section {
  border-bottom: 1px solid #d6e1e5;
  padding: 40px 0 70px 0;
  margin: 0 0 40px 0;
}
.componant-dropdowns .row + .row {
  margin-top: 30px;
}
.demo-labels h1 {
  margin-bottom: 20px;
}
.demo-labels h2 {
  margin-bottom: 25px;
}
.demo-labels h3 {
  margin-bottom: 30px;
}
.demo-labels h4 {
  margin-bottom: 30px;
}
.demo-labels h5 {
  margin-bottom: 35px;
}
.demo-labels span {
  margin-right: 10px;
}
.pagination {
  margin-top: 0;
  margin-bottom: 20px;
}
.componant-buttons .btn,
.componant-dropdowns .btn-group {
  margin: 10px 0;
}
.componant-buttons .col-xs-4 {
  padding: 0 5px;
}
.sidebar {
  top: 20px;
  z-index: 1;
}
.sidebar ul {
  width: 100%;
  border: 1px solid #b2c6cd;
  border-radius: 6px;
}
.sidebar li > a {
  font-size: 16px;
  padding: 4px 15px;
  color: #5e6969;
}
.sidebar li > a:hover {
  background: #02baf2;
  color: white;
}
.sidebar li.active > a {
  background: #02baf2;
  color: white;
}
.sidebar li:first-child.active > a,
.sidebar li:first-child > a:hover {
  border-top-left-radius: 5px;
}
.sidebar li:last-child.active > a,
.sidebar li:last-child > a:hover {
  border-bottom-left-radius: 5px;
}
@media (min-width: 1000px) {
  .container {
    width: 1170px;
  }
  .masthead {
    padding: 265px 0;
  }
  .masthead .masthead-title {
    font-size: 80px;
  }
  .masthead .masthead-title small {
    font-size: 30px;
  }
  .demo-section-title {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .btn-block {
    min-width: 140px;
  }
  .demo-type-heading {
    font-size: 60px;
  }
  .demo-type {
    font-size: 24px;
  }
  .btn-group-dropdown .dropdown-toggle {
    min-width: 210px;
  }
  .btn {
    font-size: 16px;
  }
  .table > thead > tr > th,
  .table > tbody > tr > th,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > td,
  .table > tfoot > tr > td {
    padding: 14px 20px;
    border-top: 1px solid #d6e1e5;
  }
}
